* {
	box-sizing: border-box;
}

img {
	border-radius: 50%;
}

@media screen and (max-width: 480px) {
	.logo-and-link {
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}
	.navlink {
		gap: 16px;
		flex-direction: column;
	}
}