* {
	box-sizing: border-box;
}

#spinner {
	border-radius: 50%;
	animation: spin 0.7s linear infinite;
}

#modal {
	backdrop-filter: blur(10px);
	max-width: 80%;
	max-height: 80%;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 480px) {
	.logo-and-link {
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}
	.navlink {
		gap: 16px;
		flex-direction: column;
	}
	.blogs {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}