* {
	box-sizing: border-box;
}

#spinner {
	border-radius: 50%;
	animation: spin 0.7s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
#modal {
	max-height: 80vh;
	max-width: 80%;
}

#modal-container {
	backdrop-filter: blur(5px);
}

@media screen and (max-width: 480px) {
	.logo-and-link {
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}
	.navlink {
		gap: 16px;
		flex-direction: column;
	}
	.dynamic-category {
		display: none;
	}
	.text-div {
		width: 100%;
	}
	.article-section {
		flex-direction: column;
		gap: 10px;
	}
	.article-details {
		flex-direction: column;
		gap: 10px;
	}
	#navlinks {
		display: none;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	#hamburger {
		display: flex;
	}
}